.contact{
    width: 100%;
    height: 100%;
    //background-color: limegreen;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;

    h1{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        display: flex;
        font-size: 60px;
        text-align: center;
        color: black;
    }

    .contact-container{
        width: 100%;
        height: 400px;
        margin-top: 30px;
        //background-color: lightseagreen;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .contact-pic{
            margin-left: 40px;
            width: 600px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            //justify-content: center;
            background-image: url(../images/contact.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            //margin-bottom: 40px;

        }
        .contact-text{
            margin-right: 40px;
            border: 1px solid black;
            width: 600px;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //background-color: lawngreen;

            h1{
                font-size: 40px;
                color: black;
            }
            p{
                font-size: 25px;
                color: black;
            }

        }
    } 
}