<section class="home">
    <h1>All The Best Deals In One Spot!</h1>
    <div class="home-container">
        <div class="popular">
            <div class="popularText">
                <h1>Save 20% on<br>MacBooks</h1>
            </div>
        </div>
        <div class="today">
            <div class="todayText">
                <h1>Today's Popular Picks</h1>
            </div>
            <div class="todayProducts">
                <div class="phone">
                    <a class="site-button" href="#">$299.99</a>
                </div>
                <div class="laptop">
                    <a class="site-button" href="#">$499.99</a>
                </div>
                <div class="watch">
                    <a class="site-button" href="#">$129.99</a>
                </div>
            </div>
        </div>
</div>
</section>