<section class="deals">
    <h1>Our Daily Deals</h1>
    <h2>**50% Off Listed Items**</h2>
    <div class="deals-container">
        <div class="deal">
            <a class="site-button" href="#"> $199.99 <br>Buy Now</a>
        </div>
        <div class="dealTwo">
            <a class="site-button" href="#"> $399.99 <br>Buy Now</a>
        </div>
        <div class="dealThree">
            <a class="site-button" href="#"> $49.99 <br>Buy Now</a>
        </div>
        <div class="dealFour">
            <a class="site-button" href="#"> $199.99 <br>Buy Now</a>
        </div>
    </div>
    <h2>Check Back Daily for More Incredible Deals!</h2>
</section>