<section class="about">
    <h1>About Stop N' Shop</h1>
    <div class="about-container">
        <div class="ceo"></div>
        <div class="ceo-text">
            <h1>Improving Lives</h1>
            <p>Stop N' Shop  understands the importance of dependable devices when it comes to having a difference in how people live. To meet this demand, the company considers quality as its number one factor in the order of priority. This is because only products that perform as expected can have a positive impact on the life of a person. </p>
        </div>
    </div>
    <div class="about-containerTwo">
        <div class="business-text">
            <h1>Exceeding Expectations</h1>
            <p>Unlike most companies that only provide their clients with products, Stop N' Shop goes beyond this norm to offer its customers expert services on demand. It also makes it even more convenient for its customers by taking their expertise to the comfort of their homes. In fact, the company cares so much about each of its clients that it takes its time to personalize recommendations to suit each of their needs rather than offering generic ones. And that is not all, there is always a standby technical to solve all the installation needs whenever necessary.</p>
        </div>
        <div class="business"></div>
    </div>  
</section>