<section class="products">
    <h1>Great Products, Great Prices</h1>
    <h2>Computers</h2>
    <div class="products-container">
        
        <div class="computer">
            <a class="site-button" href="#"> $499.99 <br>Buy Now</a>
        </div>
        <div class="computerTwo">
            <a class="site-button" href="#"> $399.99 <br>Buy Now</a>
        </div>
        <div class="computerThree">
            <a class="site-button" href="#"> $299.99 <br>Buy Now</a>
        </div>
        <div class="computerFour">
            <a class="site-button" href="#"> $9.99 <br>Buy Now</a>
        </div>
    </div>
    <h2>Phones</h2>
    <div class="products-containerTwo">
        
        <div class="phone">
            <a class="site-button" href="#"> $299.99 <br>Buy Now</a>
        </div>
        <div class="phoneTwo">
            <a class="site-button" href="#"> $299.99 <br>Buy Now</a>
        </div>
        <div class="phoneThree">
            <a class="site-button" href="#"> $399.99 <br>Buy Now</a>
        </div>
        <div class="phoneFour">
            <a class="site-button" href="#"> $39.99 <br>Buy Now</a>
        </div>
    </div>
    <h2>Smart Watches</h2>
    <div class="products-containerThree">
        
        <div class="watch">
            <a class="site-button" href="#"> $129.99 <br>Buy Now</a>
        </div>
        <div class="watchTwo">
            <a class="site-button" href="#"> $119.99 <br>Buy Now</a>
        </div>
        <div class="watchThree">
            <a class="site-button" href="#"> $99.99 <br>Buy Now</a>
        </div>
        <div class="watchFour">
            <a class="site-button" href="#"> $99.99 <br>Buy Now</a>
        </div>
    </div>
</section>